*{
 margin:0;
}
.entete{
background-color:#FA8072;
height:70px;
width:100%;
}
#page{
  margin:20px;
  height:500px;
  width:800px;
  margin-left: 200px;
}
.container{
  height:100%;
  width:100%;
  display: flex;
  flex-direction: row;
}

.middle{
  height:100%;
  width:75%;
  display:flex;
  flex-direction: column;
}
.menu{
  height:100%;
  background-color:#20B2AA;
  width:15%;
}
.middle-haut{
  height:80%;
  width:100%;
  display: flex;
  flex-direction: row;
}
.middle-bas{
  height:20%;
  width:100%;
  background-color: yellow;
}
.element{
  height:98%;
  width:19%;
  background-color: #98FB98;
  margin:5px;
}
